{
  "openapi": "3.0.0",
  "info": {
    "title": "10x Feedzai Manager - Card Authorisations",
    "description": "An ISO20022 Fraud Interface for synchronous fraud checks \nperformed on card and payments transactions\n",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "3.6"
  },
  "servers": [
    {
      "url": "https://feeedzaimanager-fraud.svc.solution-testblue.mylti3gh7p4x.net/swagger-ui.html"
    }
  ],
  "paths": {
    "/v1/iso/payments/customer-credit-transfer": {
      "post": {
        "tags": [
          "iso-payments-controller"
        ],
        "summary": "Payments Customer Credit Transfer.",
        "description": "Perform a payment transfer fraud check.",
        "operationId": "customerCreditTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pacs008"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful payment transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pacs002"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity. The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer-credit-transfer-status": {
      "post": {
        "tags": [
          "iso-payments-controller"
        ],
        "summary": "Payments Customer Credit Transfer Status.",
        "description": "Receiving payment status.",
        "operationId": "customerCreditTransferStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditTransferStatus"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful payment transfer"
          },
          "400": {
            "description": "Bad request. Request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity. The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/iso/payments/acquirer-authorisation-initiation": {
      "post": {
        "tags": [
          "iso-cards-controller"
        ],
        "summary": "Card authorisation.",
        "description": "Perform a card authorization fraud check.",
        "operationId": "acquirerAuthorisationInitiation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cain001"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful card auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cain001"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity. The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/iso/payments/acquirer-financial-initiation": {
      "post": {
        "tags": [
          "iso-cards-controller"
        ],
        "summary": "Single Message Transaction.",
        "description": "Perform a card initiation fraud check.",
        "operationId": "acquirerfinancialInitiation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cain003"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful card auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cain003"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity. The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreditTransferStatus": {
        "required": [
          "creationDateTime",
          "groupStatus",
          "numberOfTransactions",
          "routingDestination",
          "settlementDate",
          "transactionTraceIdentification"
        ],
        "type": "object",
        "properties": {
          "transactionTraceIdentification": {
            "type": "string"
          },
          "groupStatus": {
            "type": "string",
            "enum": [
              "RJC",
              "ACSC"
            ]
          },
          "telephone": {
            "type": "string"
          },
          "routingDestination": {
            "type": "string"
          },
          "creationDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "numberOfTransactions": {
            "type": "integer"
          },
          "senderUrgency": {
            "type": "boolean",
            "default": false
          },
          "recurringPayment": {
            "type": "boolean",
            "default": false
          },
          "infoType": {
            "type": "string",
            "default": "notHonor"
          },
          "settlementDate": {
            "type": "string",
            "format": "date"
          },
          "deviceId": {
            "type": "string"
          },
          "partyKey": {
            "type": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/CurrencyAndAmount"
          },
          "SettlementAmount": {
            "$ref": "#/components/schemas/CurrencyAndAmount"
          },
          "debtor": {
            "$ref": "#/components/schemas/User"
          },
          "creditor": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "agent": {
            "$ref": "#/components/schemas/Agent"
          },
          "account": {
            "$ref": "#/components/schemas/Account"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "identification": {
            "type": "string"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "memberIdentification": {
            "type": "string"
          }
        }
      },
      "Pacs008": {
        "required": [
          "customerCreditTransfer"
        ],
        "type": "object",
        "properties": {
          "customerCreditTransfer": {
            "$ref": "#/components/schemas/IsoCreditTransferFraudCheckRequestV01"
          }
        }
      },
      "Pacs002": {
        "required": [
          "customerCreditTransferResponse"
        ],
        "type": "object",
        "properties": {
          "customerCreditTransferResponse": {
            "$ref": "#/components/schemas/FIToFIPaymentStatusReportV11"
          }
        }
      },
      "Cain003": {
        "required": [
          "acquirerFinancialInitiation"
        ],
        "type": "object",
        "properties": {
          "acquirerFinancialInitiation": {
            "$ref": "#/components/schemas/AcquirerFinancialInitiation"
          }
        }
      },
      "Cain001": {
        "required": [
          "acquirerAuthorisationInitiation"
        ],
        "type": "object",
        "properties": {
          "acquirerAuthorisationInitiation": {
            "$ref": "#/components/schemas/AcquirerAuthorisationInitiationV01"
          }
        }
      },
      "BaseOneRate": {
        "type": "number"
      },
      "ISODate": {
        "type": "string",
        "format": "date-time"
      },
      "ISODateTime": {
        "type": "string",
        "format": "date-time"
      },
      "LanguageCode": {
        "type": "string"
      },
      "Number": {
        "type": "number"
      },
      "TrueFalseIndicator": {
        "type": "boolean"
      },
      "AccountChoiceMethod1Code": {
        "type": "string",
        "enum": [
          "ACSL",
          "ENTR",
          "IMAC",
          "IMPL",
          "NOSL",
          "TPSL"
        ]
      },
      "ActionType4Code": {
        "type": "string",
        "enum": [
          "CPTR",
          "RQID",
          "RFRL",
          "APPV",
          "BLCK",
          "NDCL"
        ]
      },
      "AddressType2Code": {
        "type": "string",
        "enum": [
          "ADDR",
          "PBOX",
          "HOME",
          "BIZZ",
          "MLTO",
          "DLVY"
        ]
      },
      "Algorithm11Code": {
        "type": "string",
        "enum": [
          "HS25",
          "HS38",
          "HS51",
          "HS01"
        ]
      },
      "Algorithm12Code": {
        "type": "string",
        "enum": [
          "MACC",
          "MCCS",
          "CMA1",
          "MCC1",
          "CMA9",
          "CMA5"
        ]
      },
      "Algorithm13Code": {
        "type": "string",
        "enum": [
          "EA2C",
          "E3DC",
          "DKP9",
          "UKPT",
          "UKA1",
          "EA9C",
          "EA5C"
        ]
      },
      "Algorithm15Code": {
        "type": "string",
        "enum": [
          "EA2C",
          "E3DC",
          "EA9C",
          "EA5C"
        ]
      },
      "Algorithm7Code": {
        "type": "string",
        "enum": [
          "ERSA",
          "RSAO"
        ]
      },
      "Algorithm8Code": {
        "type": "string",
        "enum": [
          "MGF1"
        ]
      },
      "AttendanceContext1Code": {
        "type": "string",
        "enum": [
          "ATTD",
          "SATT",
          "UATT"
        ]
      },
      "AttributeType1Code": {
        "type": "string",
        "enum": [
          "CNAT",
          "LATT",
          "OATT",
          "OUAT",
          "CATT"
        ]
      },
      "AuthenticationEntity2Code": {
        "type": "string",
        "enum": [
          "ICCD",
          "AGNT",
          "MERC",
          "ACQR",
          "ISSR",
          "TRML"
        ]
      },
      "AuthenticationMethod5Code": {
        "type": "string",
        "enum": [
          "NPIN",
          "PPSG",
          "PSWD",
          "SCRT",
          "SCNL",
          "SNCT",
          "CPSG",
          "ADDB",
          "BIOM",
          "CDHI",
          "CRYP",
          "CSCV",
          "PSVE",
          "CSEC",
          "ADDS",
          "TOKP"
        ]
      },
      "AuthenticationMethod6Code": {
        "type": "string",
        "enum": [
          "NPIN",
          "PPSG",
          "PSWD",
          "SCRT",
          "SCNL",
          "SNCT",
          "CPSG",
          "ADDB",
          "BIOM",
          "CDHI",
          "CRYP",
          "CSCV",
          "PSVE",
          "CSEC",
          "ADDS",
          "MANU",
          "FPIN",
          "TOKP"
        ]
      },
      "BytePadding1Code": {
        "type": "string",
        "enum": [
          "LNGT",
          "NUL8",
          "NULG",
          "NULL",
          "RAND"
        ]
      },
      "CardAccountType2Code": {
        "type": "string",
        "enum": [
          "CTDP",
          "CHCK",
          "CRDT",
          "CURR",
          "CDBT",
          "DFLT",
          "EPRS",
          "HEQL",
          "ISTL",
          "INVS",
          "LCDT",
          "MBNW",
          "MNMK",
          "MNMC",
          "MTGL",
          "RTRM",
          "RVLV",
          "SVNG",
          "STBD",
          "UVRL"
        ]
      },
      "CardDataReading2Code": {
        "type": "string",
        "enum": [
          "DFLE",
          "BRCD",
          "CDFL",
          "ECTL",
          "CICC",
          "MGST",
          "PHYS",
          "CTLS",
          "TAGC",
          "UNKW"
        ]
      },
      "CardDataReading3Code": {
        "type": "string",
        "enum": [
          "CDFL",
          "ECTL",
          "CICC",
          "MGST",
          "CTLS"
        ]
      },
      "CardFallback1Code": {
        "type": "string",
        "enum": [
          "FFLB",
          "SFLB",
          "NFLB"
        ]
      },
      "CardPaymentServiceType3Code": {
        "type": "string",
        "enum": [
          "IRES",
          "URES",
          "PRES",
          "ARES",
          "FREC",
          "RREC"
        ]
      },
      "CardPaymentServiceType7Code": {
        "type": "string",
        "enum": [
          "BALC",
          "CACT",
          "CRDP",
          "CAFT",
          "CAFL",
          "CAFH",
          "CAVR",
          "CSHW",
          "CSHD",
          "CHWD",
          "DEFR",
          "LOAD",
          "ORCR",
          "PINC",
          "PINU",
          "QUCH",
          "RFND",
          "RESA",
          "UNLD",
          "VALC",
          "DADJ",
          "CADJ"
        ]
      },
      "CardPaymentServiceType8Code": {
        "type": "string",
        "enum": [
          "AGGR",
          "CSHB",
          "CSWD",
          "DCCV",
          "GRTT",
          "INSA",
          "INSI",
          "LOYT",
          "NRES",
          "AUWS",
          "PFWD",
          "PUCO",
          "RECP",
          "SOAF",
          "SDWD",
          "VCAU",
          "NRFD",
          "INST"
        ]
      },
      "CardTransactionRiskReason1Code": {
        "type": "string",
        "enum": [
          "APDP",
          "APDL",
          "ATHA",
          "CRDC",
          "ECMA",
          "EXCD",
          "FGNA",
          "GEOA",
          "MCCH",
          "KEYA",
          "MCCA",
          "AMNT",
          "CRDF",
          "MRCF",
          "TXCA",
          "TXNB",
          "TXTM",
          "TMIN",
          "TXTP",
          "UATA"
        ]
      },
      "CardholderVerificationCapability2Code": {
        "type": "string",
        "enum": [
          "APKI",
          "CHDT",
          "MNSG",
          "MNVR",
          "FBIG",
          "FBIO",
          "FDSG",
          "FCPN",
          "FEPN",
          "NPIN",
          "PKIS",
          "SCEC",
          "UNKW",
          "NBIO",
          "NOVF",
          "OTHR"
        ]
      },
      "ContentType2Code": {
        "type": "string",
        "enum": [
          "DATA",
          "SIGN",
          "EVLP",
          "DGST",
          "AUTH"
        ]
      },
      "EncryptionFormat1Code": {
        "type": "string",
        "enum": [
          "TR31",
          "TR34"
        ]
      },
      "Frequency3Code": {
        "type": "string",
        "enum": [
          "YEAR",
          "MNTH",
          "QURT",
          "MIAN",
          "WEEK",
          "DAIL",
          "TEND"
        ]
      },
      "InstalmentPlan1Code": {
        "type": "string",
        "enum": [
          "EQPM",
          "NQPM",
          "DFRI"
        ]
      },
      "LocationCategory2Code": {
        "type": "string",
        "enum": [
          "ABRD",
          "FIXD",
          "HOME",
          "NMDC"
        ]
      },
      "MessageFunction6Code": {
        "type": "string",
        "enum": [
          "RCAV",
          "RCAN",
          "RCAQ",
          "REJA",
          "REVV",
          "REVN",
          "REVQ",
          "RCPV",
          "RCPN",
          "RCPQ",
          "REJP",
          "AUTV",
          "AUTN",
          "AUTQ",
          "AUTP",
          "FNCV",
          "FNCN",
          "FNCQ",
          "RCIV",
          "RCIN",
          "RCIQ",
          "REJI",
          "KEYV",
          "KEYQ",
          "MGTV",
          "MGTQ"
        ]
      },
      "MessageReason1Code": {
        "type": "string",
        "enum": [
          "ASTD",
          "AMNT",
          "ASPC",
          "CDCL",
          "COFF",
          "CRND",
          "CRTN",
          "CUNB",
          "CCAN",
          "KDAC",
          "ERRP",
          "FLRL",
          "IDPS",
          "KINV",
          "ISGN",
          "ISTD",
          "ITIM",
          "IUNV",
          "ENDK",
          "MLFC",
          "FDCL",
          "NDCL",
          "FORC",
          "KSYN",
          "UDSP",
          "USND",
          "UCMP",
          "LATE",
          "TIMO",
          "TUNB",
          "TRND",
          "TOFF",
          "SUSP",
          "KSEC",
          "RUNV",
          "RTIM",
          "RSTD",
          "RSGN",
          "PART"
        ]
      },
      "OnLineCapability1Code": {
        "type": "string",
        "enum": [
          "OFLN",
          "ONLN",
          "SMON"
        ]
      },
      "OutputFormat1Code": {
        "type": "string",
        "enum": [
          "MREF",
          "TEXT",
          "HTML"
        ]
      },
      "PINFormat3Code": {
        "type": "string",
        "enum": [
          "ISO0",
          "ISO1",
          "ISO2",
          "ISO3",
          "ISO4",
          "ISO5"
        ]
      },
      "PartyType10Code": {
        "type": "string",
        "enum": [
          "ACCP",
          "ACQR",
          "ATMG",
          "CISS",
          "DLIS",
          "HSTG",
          "ITAG",
          "MERC",
          "OATM",
          "OPOI"
        ]
      },
      "PartyType11Code": {
        "type": "string",
        "enum": [
          "ACCP",
          "ACQR",
          "CISS",
          "DLIS",
          "ITAG",
          "OTRM",
          "ICCA"
        ]
      },
      "PartyType3Code": {
        "type": "string",
        "enum": [
          "OPOI",
          "MERC",
          "ACCP",
          "ITAG",
          "ACQR",
          "CISS",
          "DLIS"
        ]
      },
      "PartyType4Code": {
        "type": "string",
        "enum": [
          "MERC",
          "ACCP",
          "ITAG",
          "ACQR",
          "CISS",
          "TAXH"
        ]
      },
      "PartyType9Code": {
        "type": "string",
        "enum": [
          "ACQR",
          "ACQP",
          "CISS",
          "CISP",
          "CSCH",
          "SCHP"
        ]
      },
      "Response3Code": {
        "type": "string",
        "enum": [
          "APPR",
          "DECL",
          "FRTH",
          "PART",
          "PRCS",
          "UNPR"
        ]
      },
      "ResultDetail1Code": {
        "type": "string",
        "enum": [
          "ACTF",
          "ACQS",
          "AMLV",
          "AMTA",
          "BANK",
          "CRDR",
          "CRDF",
          "CSHI",
          "CSHE",
          "ACTC",
          "CTVG",
          "DBER",
          "FEES",
          "TXNL",
          "CRDX",
          "FMTR",
          "ACEF",
          "TXNG",
          "FNDI",
          "ACPI",
          "AMTI",
          "CHDI",
          "CRDI",
          "CTFV",
          "NPRA",
          "PINA",
          "LBLU",
          "CRDA",
          "PINN",
          "MACK",
          "MACR",
          "CRDL",
          "LBLA",
          "ISSU",
          "ISST",
          "ISSO",
          "ISSF",
          "ISSP",
          "DATI",
          "TXNV",
          "TKID",
          "TKKO",
          "CSCV",
          "PINV",
          "AMTO",
          "NPRC",
          "OFFL",
          "ONLP",
          "TXNM",
          "OTHR",
          "BALO",
          "SEQO",
          "AMTL",
          "NMBL",
          "PINC",
          "PIND",
          "PINE",
          "PINS",
          "PINX",
          "QMAX",
          "RECD",
          "CRDT",
          "SECV",
          "SFWE",
          "SPCC",
          "CRDW",
          "NMBW",
          "AMTW",
          "VNDF",
          "VNDR",
          "SVSU",
          "CRDU",
          "CMKY",
          "UNBC",
          "UNBP",
          "UNBO",
          "ORGF",
          "TXND",
          "TXNU",
          "TTLV",
          "ACTT",
          "SYSM",
          "SYSP",
          "FRDS",
          "CNTC",
          "SRCH",
          "CRDS",
          "ACKO"
        ]
      },
      "SupportedPaymentOption1Code": {
        "type": "string",
        "enum": [
          "PART",
          "MSRV"
        ]
      },
      "TransactionChannel3Code": {
        "type": "string",
        "enum": [
          "MAIL",
          "TLPH",
          "ECOM",
          "TVPY",
          "SECM",
          "MOBL"
        ]
      },
      "TransactionEnvironment2Code": {
        "type": "string",
        "enum": [
          "PRIV",
          "PUBL"
        ]
      },
      "TransactionEnvironment3Code": {
        "type": "string",
        "enum": [
          "BRCH",
          "MERC",
          "OTHR"
        ]
      },
      "TypeOfAmount1Code": {
        "type": "string",
        "enum": [
          "ACTL",
          "ESTM",
          "MAXI",
          "DFLT",
          "RPLT"
        ]
      },
      "TypeOfAmount5Code": {
        "type": "string",
        "enum": [
          "CSHB",
          "DCNT",
          "FEES",
          "GRTY",
          "SRCH",
          "VATX",
          "COMM",
          "DONN",
          "TAXT"
        ]
      },
      "TypeOfAmount6Code": {
        "type": "string",
        "enum": [
          "ATMF",
          "AMTH",
          "CRDB",
          "DCNT",
          "FEES",
          "AMTX",
          "AMTN",
          "AMTQ",
          "SRCH",
          "VATX",
          "COMI",
          "FEEI"
        ]
      },
      "UserInterface1Code": {
        "type": "string",
        "enum": [
          "CDSP",
          "CRCP",
          "MDSP",
          "MRCP"
        ]
      },
      "UserInterface3Code": {
        "type": "string",
        "enum": [
          "ACQU",
          "AGNT",
          "ISSR"
        ]
      },
      "Verification1Code": {
        "type": "string",
        "enum": [
          "FAIL",
          "MISS",
          "NOVF",
          "PART",
          "SUCC",
          "ERRR"
        ]
      },
      "AnyBICIdentifier": {
        "pattern": "[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}",
        "type": "string"
      },
      "BBANIdentifier": {
        "pattern": "[a-zA-Z0-9]{1,30}",
        "type": "string"
      },
      "CountryCode": {
        "pattern": "[A-Z]{2,2}",
        "type": "string"
      },
      "CurrencyAndAmount_SimpleType": {
        "minimum": 0,
        "exclusiveMinimum": false,
        "type": "number"
      },
      "CurrencyCode": {
        "pattern": "[A-Z]{3,3}",
        "type": "string"
      },
      "Exact1NumericText": {
        "pattern": "[0-9]",
        "type": "string"
      },
      "Exact3AlphaNumericText": {
        "pattern": "[a-zA-Z0-9]{3}",
        "type": "string"
      },
      "Exact3NumericText": {
        "pattern": "[0-9]{3}",
        "type": "string"
      },
      "IBANIdentifier": {
        "pattern": "[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}",
        "type": "string"
      },
      "ISO3NumericCountryCode": {
        "pattern": "[0-9]{3,3}",
        "type": "string"
      },
      "ImpliedCurrencyAndAmount": {
        "minimum": 0,
        "exclusiveMinimum": false,
        "type": "number"
      },
      "Max10000Binary": {
        "maxLength": 10000,
        "minLength": 1,
        "type": "string"
      },
      "Max100KBinary": {
        "maxLength": 102400,
        "minLength": 1,
        "type": "string"
      },
      "Max10Text": {
        "maxLength": 10,
        "minLength": 1,
        "type": "string"
      },
      "Max140Binary": {
        "maxLength": 140,
        "minLength": 1,
        "type": "string"
      },
      "Max140Text": {
        "maxLength": 140,
        "minLength": 1,
        "type": "string"
      },
      "Max15NumericText": {
        "pattern": "[0-9]{1,15}",
        "type": "string"
      },
      "Max16Text": {
        "maxLength": 16,
        "minLength": 1,
        "type": "string"
      },
      "Max20000Text": {
        "maxLength": 20000,
        "minLength": 1,
        "type": "string"
      },
      "Max256Text": {
        "maxLength": 256,
        "minLength": 1,
        "type": "string"
      },
      "Max2NumericText": {
        "pattern": "[0-9]{1,2}",
        "type": "string"
      },
      "Max35Binary": {
        "maxLength": 35,
        "minLength": 1,
        "type": "string"
      },
      "Max35NumericText": {
        "pattern": "[0-9]{1,35}",
        "type": "string"
      },
      "Max35Text": {
        "maxLength": 35,
        "minLength": 1,
        "type": "string"
      },
      "Max3NumericText": {
        "pattern": "[0-9]{1,3}",
        "type": "string"
      },
      "Max3Text": {
        "maxLength": 3,
        "minLength": 1,
        "type": "string"
      },
      "Max45Text": {
        "maxLength": 45,
        "minLength": 1,
        "type": "string"
      },
      "Max5000Binary": {
        "maxLength": 5000,
        "minLength": 1,
        "type": "string"
      },
      "Max500Binary": {
        "maxLength": 500,
        "minLength": 1,
        "type": "string"
      },
      "Max500Text": {
        "maxLength": 500,
        "minLength": 1,
        "type": "string"
      },
      "Max5NumericText": {
        "pattern": "[0-9]{1,5}",
        "type": "string"
      },
      "Max6Text": {
        "maxLength": 6,
        "minLength": 1,
        "type": "string"
      },
      "Max70Text": {
        "maxLength": 70,
        "minLength": 1,
        "type": "string"
      },
      "Min2Max3AlphaText": {
        "pattern": "[a-zA-Z]{2,3}",
        "type": "string"
      },
      "Min2Max3NumericText": {
        "pattern": "[0-9]{2,3}",
        "type": "string"
      },
      "Min3Max4NumericText": {
        "pattern": "[0-9]{3,4}",
        "type": "string"
      },
      "Min5Max16Binary": {
        "maxLength": 16,
        "minLength": 5,
        "type": "string"
      },
      "Min6Max8Text": {
        "maxLength": 8,
        "minLength": 6,
        "type": "string"
      },
      "Min8Max28NumericText": {
        "pattern": "[0-9]{8,28}",
        "type": "string"
      },
      "PhoneNumber": {
        "pattern": "\\+[0-9]{1,3}-[0-9()+\\-]{1,30}",
        "type": "string"
      },
      "UPICIdentifier": {
        "pattern": "[0-9]{8,17}",
        "type": "string"
      },
      "Acquirer6": {
        "required": [
          "identification"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "issuer": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "countryCode": {
            "$ref": "#/components/schemas/ISO3NumericCountryCode"
          }
        }
      },
      "AcquirerAuthorisationInitiationV01": {
        "required": [
          "acquirerAuthorisationInitiation",
          "header"
        ],
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header17"
          },
          "acquirerAuthorisationInitiation": {
            "$ref": "#/components/schemas/AcquirerAuthorisationInitiation1"
          },
          "securityTrailer": {
            "$ref": "#/components/schemas/ContentInformationType15"
          }
        }
      },
      "AcquirerAuthorisationInitiation1": {
        "required": [
          "context",
          "environment",
          "transaction"
        ],
        "type": "object",
        "properties": {
          "environment": {
            "$ref": "#/components/schemas/CardTransactionEnvironment1"
          },
          "context": {
            "$ref": "#/components/schemas/CardTransactionContext1"
          },
          "transaction": {
            "$ref": "#/components/schemas/CardTransaction15"
          }
        }
      },
      "ActionMessage3": {
        "required": [
          "content",
          "destination"
        ],
        "type": "object",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/UserInterface3Code"
          },
          "format": {
            "$ref": "#/components/schemas/OutputFormat1Code"
          },
          "content": {
            "$ref": "#/components/schemas/Max20000Text"
          }
        }
      },
      "AddressVerification1": {
        "type": "object",
        "properties": {
          "addressDigits": {
            "$ref": "#/components/schemas/Max5NumericText"
          },
          "postalCodeDigits": {
            "$ref": "#/components/schemas/Max5NumericText"
          }
        }
      },
      "AlgorithmIdentification11": {
        "required": [
          "algorithm"
        ],
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/Algorithm7Code"
          },
          "parameter": {
            "$ref": "#/components/schemas/Parameter4"
          }
        }
      },
      "AlgorithmIdentification12": {
        "required": [
          "algorithm"
        ],
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/Algorithm8Code"
          },
          "parameter": {
            "$ref": "#/components/schemas/Parameter5"
          }
        }
      },
      "AlgorithmIdentification13": {
        "required": [
          "algorithm"
        ],
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/Algorithm13Code"
          },
          "parameter": {
            "$ref": "#/components/schemas/Parameter6"
          }
        }
      },
      "AlgorithmIdentification14": {
        "required": [
          "algorithm"
        ],
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/Algorithm15Code"
          },
          "parameter": {
            "$ref": "#/components/schemas/Parameter6"
          }
        }
      },
      "AlgorithmIdentification15": {
        "required": [
          "algorithm"
        ],
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/Algorithm12Code"
          },
          "parameter": {
            "$ref": "#/components/schemas/Parameter7"
          }
        }
      },
      "AntiMoneyLaundering1": {
        "type": "object",
        "properties": {
          "senderName": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "senderAddress": {
            "$ref": "#/components/schemas/PostalAddress18"
          },
          "senderNationalIdentifier": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "nationalIdentifierCountry": {
            "$ref": "#/components/schemas/Min2Max3AlphaText"
          },
          "senderPassportNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "passportIssuingCountry": {
            "$ref": "#/components/schemas/Min2Max3AlphaText"
          },
          "senderTaxIdentifier": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "taxCountry": {
            "$ref": "#/components/schemas/Min2Max3AlphaText"
          },
          "senderCustomerIdentifier": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "senderDateAndPlaceOfBirth": {
            "$ref": "#/components/schemas/DateAndPlaceOfBirth"
          },
          "receiverName": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "transactionReference": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "Recipient4Choice": {
        "oneOf": [
          {
            "properties": {
              "keyTransport": {
                "$ref": "#/components/schemas/KeyTransport4"
              },
              "KEK": {
                "$ref": "#/components/schemas/KEK4"
              },
              "keyIdentifier": {
                "$ref": "#/components/schemas/KEKIdentifier2"
              }
            }
          }
        ]
      },
      "AuthenticatedData4": {
        "required": [
          "MAC",
          "MACAlgorithm",
          "encapsulatedContent",
          "recipient"
        ],
        "type": "object",
        "properties": {
          "version": {
            "$ref": "#/components/schemas/Number"
          },
          "recipient": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient4Choice"
            }
          },
          "MACAlgorithm": {
            "$ref": "#/components/schemas/AlgorithmIdentification15"
          },
          "encapsulatedContent": {
            "$ref": "#/components/schemas/EncapsulatedContent3"
          },
          "MAC": {
            "$ref": "#/components/schemas/Max140Binary"
          }
        }
      },
      "AuthorisationResult7": {
        "required": [
          "transactionResponse"
        ],
        "type": "object",
        "properties": {
          "authorisationEntity": {
            "$ref": "#/components/schemas/GenericIdentification75"
          },
          "transactionResponse": {
            "$ref": "#/components/schemas/ResponseType2"
          },
          "authorisationCode": {
            "$ref": "#/components/schemas/Min6Max8Text"
          },
          "additionalInformation": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionMessage3"
            }
          }
        }
      },
      "CardAcceptorTerminal1": {
        "required": [
          "capabilities",
          "identification"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/GenericIdentification32"
          },
          "location": {
            "$ref": "#/components/schemas/PostalAddress18"
          },
          "capabilities": {
            "$ref": "#/components/schemas/PointOfInteractionCapabilities4"
          }
        }
      },
      "AccountIdentification30Choice": {
        "oneOf": [
          {
            "properties": {
              "card": {
                "$ref": "#/components/schemas/Min8Max28NumericText"
              },
              "MSISDN": {
                "$ref": "#/components/schemas/Max16Text"
              },
              "email": {
                "$ref": "#/components/schemas/Max35Text"
              },
              "IBAN": {
                "$ref": "#/components/schemas/IBANIdentifier"
              },
              "BBAN": {
                "$ref": "#/components/schemas/BBANIdentifier"
              },
              "UPIC": {
                "$ref": "#/components/schemas/UPICIdentifier"
              },
              "domestic": {
                "$ref": "#/components/schemas/Max35Text"
              },
              "other": {
                "$ref": "#/components/schemas/Max35Text"
              }
            }
          }
        ]
      },
      "PartyIdentification72Choice": {
        "oneOf": [
          {
            "properties": {
              "anyBIC": {
                "$ref": "#/components/schemas/AnyBICIdentifier"
              },
              "proprietaryIdentification": {
                "$ref": "#/components/schemas/GenericIdentification1"
              }
            }
          }
        ]
      },
      "CardAccount1": {
        "type": "object",
        "properties": {
          "selectionMethod": {
            "$ref": "#/components/schemas/AccountChoiceMethod1Code"
          },
          "selectedAccountType": {
            "$ref": "#/components/schemas/CardAccountType2Code"
          },
          "accountName": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "accountOwner": {
            "$ref": "#/components/schemas/NameAndAddress3"
          },
          "accountIdentifier": {
            "$ref": "#/components/schemas/AccountIdentification30Choice"
          },
          "servicer": {
            "$ref": "#/components/schemas/PartyIdentification72Choice"
          }
        }
      },
      "CardPaymentToken4": {
        "type": "object",
        "properties": {
          "token": {
            "$ref": "#/components/schemas/Min8Max28NumericText"
          },
          "cardSequenceNumber": {
            "$ref": "#/components/schemas/Min2Max3NumericText"
          },
          "tokenExpiryDate": {
            "$ref": "#/components/schemas/Max10Text"
          },
          "tokenCharacteristic": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Max35Text"
            }
          },
          "tokenRequestor": {
            "$ref": "#/components/schemas/PaymentTokenIdentifiers1"
          },
          "tokenAssuranceLevel": {
            "$ref": "#/components/schemas/Number"
          },
          "tokenAssuranceData": {
            "$ref": "#/components/schemas/Max500Binary"
          }
        }
      },
      "CardTransaction15": {
        "required": [
          "acceptorTransactionDateTime",
          "acceptorTransactionIdentification",
          "initiatorTransactionIdentification",
          "transactionDetails",
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "transactionType": {
            "$ref": "#/components/schemas/CardPaymentServiceType7Code"
          },
          "additionalService": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardPaymentServiceType8Code"
            }
          },
          "serviceAttribute": {
            "$ref": "#/components/schemas/CardPaymentServiceType3Code"
          },
          "merchantCategoryCode": {
            "$ref": "#/components/schemas/Min3Max4NumericText"
          },
          "reconciliation": {
            "$ref": "#/components/schemas/TransactionIdentifier2"
          },
          "acceptorTransactionDateTime": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "acceptorTransactionIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "initiatorTransactionIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "transactionLifeCycleIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "transactionLifeCycleSequenceNumber": {
            "$ref": "#/components/schemas/Number"
          },
          "transactionLifeCycleSequenceCounter": {
            "$ref": "#/components/schemas/Number"
          },
          "originalTransaction": {
            "$ref": "#/components/schemas/CardTransaction3"
          },
          "transactionDetails": {
            "$ref": "#/components/schemas/CardTransactionDetail1"
          },
          "authorisationResult": {
            "$ref": "#/components/schemas/AuthorisationResult7"
          }
        }
      },
      "CardTransaction3": {
        "required": [
          "acceptorTransactionDateTime",
          "initiatorIdentification",
          "initiatorTransactionIdentification"
        ],
        "type": "object",
        "properties": {
          "acceptorTransactionDateTime": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "initiatorTransactionIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "initiatorIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "CardTransactionAmount1": {
        "required": [
          "totalAmount"
        ],
        "type": "object",
        "properties": {
          "totalAmount": {
            "$ref": "#/components/schemas/CurrencyAndAmount"
          },
          "amountQualifier": {
            "$ref": "#/components/schemas/TypeOfAmount1Code"
          },
          "cardholderBillingTransactionAmount": {
            "$ref": "#/components/schemas/DetailedAmount8"
          },
          "detailedAmount": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailedAmount9"
            }
          }
        }
      },
      "CardTransactionCondition1": {
        "required": [
          "program"
        ],
        "type": "object",
        "properties": {
          "program": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "value": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "CardTransactionContext1": {
        "required": [
          "transactionContext"
        ],
        "type": "object",
        "properties": {
          "transactionContext": {
            "$ref": "#/components/schemas/CardTransactionContext2"
          },
          "saleContext": {
            "$ref": "#/components/schemas/SaleContext1"
          }
        }
      },
      "CardTransactionContext2": {
        "required": [
          "cardDataEntryMode"
        ],
        "type": "object",
        "properties": {
          "cardPresent": {
            "$ref": "#/components/schemas/TrueFalseIndicator"
          },
          "cardholderPresent": {
            "$ref": "#/components/schemas/TrueFalseIndicator"
          },
          "locationCategory": {
            "$ref": "#/components/schemas/LocationCategory2Code"
          },
          "attendanceContext": {
            "$ref": "#/components/schemas/AttendanceContext1Code"
          },
          "transactionEnvironment": {
            "$ref": "#/components/schemas/TransactionEnvironment2Code"
          },
          "hostingCategory": {
            "$ref": "#/components/schemas/TransactionEnvironment3Code"
          },
          "transactionChannel": {
            "$ref": "#/components/schemas/TransactionChannel3Code"
          },
          "cardDataEntryMode": {
            "$ref": "#/components/schemas/CardDataReading2Code"
          },
          "fallbackIndicator": {
            "$ref": "#/components/schemas/CardFallback1Code"
          },
          "supportedOption": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportedPaymentOption1Code"
            }
          },
          "specialConditions": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardTransactionCondition1"
            }
          },
          "riskIndicator": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardTransactionRiskIndicator1"
            }
          }
        }
      },
      "CardTransactionDetail1": {
        "required": [
          "transactionAmounts"
        ],
        "type": "object",
        "properties": {
          "transactionAmounts": {
            "$ref": "#/components/schemas/CardTransactionAmount1"
          },
          "additionalAmounts": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailedAmount10"
            }
          },
          "messageReason": {
            "$ref": "#/components/schemas/MessageReason1Code"
          },
          "validityDate": {
            "$ref": "#/components/schemas/ISODate"
          },
          "unattendedLevelCategory": {
            "$ref": "#/components/schemas/Max35NumericText"
          },
          "accountFrom": {
            "$ref": "#/components/schemas/CardAccount1"
          },
          "accountTo": {
            "$ref": "#/components/schemas/CardAccount1"
          },
          "instalment": {
            "$ref": "#/components/schemas/RecurringTransaction2"
          },
          "antiMoneyLaundering": {
            "$ref": "#/components/schemas/AntiMoneyLaundering1"
          },
          "iCCRelatedData": {
            "$ref": "#/components/schemas/Max10000Binary"
          }
        }
      },
      "CardTransactionEnvironment1": {
        "required": [
          "acquirer",
          "card"
        ],
        "type": "object",
        "properties": {
          "acquirer": {
            "$ref": "#/components/schemas/Acquirer6"
          },
          "cardSchemeIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "acceptor": {
            "$ref": "#/components/schemas/Organisation18"
          },
          "terminal": {
            "$ref": "#/components/schemas/CardAcceptorTerminal1"
          },
          "card": {
            "$ref": "#/components/schemas/PaymentCard12"
          },
          "customerDevice": {
            "$ref": "#/components/schemas/CustomerDevice1"
          },
          "wallet": {
            "$ref": "#/components/schemas/CustomerDevice1"
          },
          "paymentToken": {
            "$ref": "#/components/schemas/CardPaymentToken4"
          },
          "cardholder": {
            "$ref": "#/components/schemas/Cardholder9"
          },
          "protectedCardholderData": {
            "$ref": "#/components/schemas/ContentInformationType10"
          }
        }
      },
      "CardTransactionRiskIndicator1": {
        "required": [
          "level"
        ],
        "type": "object",
        "properties": {
          "reason": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardTransactionRiskReason1Code"
            }
          },
          "level": {
            "$ref": "#/components/schemas/Number"
          },
          "recommendedAction": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionType4Code"
            }
          }
        }
      },
      "Cardholder9": {
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/PersonIdentification7"
          },
          "name": {
            "$ref": "#/components/schemas/Max45Text"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/PostalAddress18"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/PostalAddress18"
          },
          "authentication": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardholderAuthentication7"
            }
          },
          "transactionVerificationResult": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionVerificationResult4"
            }
          },
          "personalData": {
            "$ref": "#/components/schemas/Max70Text"
          }
        }
      },
      "CardholderAuthentication7": {
        "required": [
          "authenticationMethod"
        ],
        "type": "object",
        "properties": {
          "authenticationMethod": {
            "$ref": "#/components/schemas/AuthenticationMethod5Code"
          },
          "authenticationValue": {
            "$ref": "#/components/schemas/Max5000Binary"
          },
          "protectedAuthenticationValue": {
            "$ref": "#/components/schemas/ContentInformationType10"
          },
          "cardholderOnLinePIN": {
            "$ref": "#/components/schemas/OnLinePIN4"
          },
          "cardholderIdentification": {
            "$ref": "#/components/schemas/PersonIdentification7"
          },
          "addressVerification": {
            "$ref": "#/components/schemas/AddressVerification1"
          }
        }
      },
      "CertificateIssuer1": {
        "required": [
          "relativeDistinguishedName"
        ],
        "type": "object",
        "properties": {
          "relativeDistinguishedName": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelativeDistinguishedName1"
            }
          }
        }
      },
      "CommunicationAddress5": {
        "type": "object",
        "properties": {
          "postalAddress": {
            "$ref": "#/components/schemas/PostalAddress18"
          },
          "email": {
            "$ref": "#/components/schemas/Max256Text"
          },
          "URLAddress": {
            "$ref": "#/components/schemas/Max256Text"
          },
          "phone": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "customerService": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "additionalContactInformation": {
            "$ref": "#/components/schemas/Max256Text"
          }
        }
      },
      "ContentInformationType10": {
        "required": [
          "contentType",
          "envelopedData"
        ],
        "type": "object",
        "properties": {
          "contentType": {
            "$ref": "#/components/schemas/ContentType2Code"
          },
          "envelopedData": {
            "$ref": "#/components/schemas/EnvelopedData4"
          }
        }
      },
      "ContentInformationType15": {
        "required": [
          "authenticatedData",
          "contentType"
        ],
        "type": "object",
        "properties": {
          "contentType": {
            "$ref": "#/components/schemas/ContentType2Code"
          },
          "authenticatedData": {
            "$ref": "#/components/schemas/AuthenticatedData4"
          }
        }
      },
      "CustomerDevice1": {
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "type": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "provider": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "DateAndPlaceOfBirth": {
        "required": [
          "birthDate",
          "cityOfBirth",
          "countryOfBirth"
        ],
        "type": "object",
        "properties": {
          "birthDate": {
            "$ref": "#/components/schemas/ISODate"
          },
          "provinceOfBirth": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "cityOfBirth": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "countryOfBirth": {
            "$ref": "#/components/schemas/CountryCode"
          }
        }
      },
      "DetailedAmount10": {
        "required": [
          "amount",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TypeOfAmount6Code"
          },
          "additionalType": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "amount": {
            "$ref": "#/components/schemas/CurrencyAndAmount"
          },
          "label": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "DetailedAmount8": {
        "required": [
          "amount",
          "exchangeRate"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/ImpliedCurrencyAndAmount"
          },
          "exchangeRate": {
            "$ref": "#/components/schemas/BaseOneRate"
          },
          "quotationDate": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "label": {
            "$ref": "#/components/schemas/Max140Text"
          }
        }
      },
      "DetailedAmount9": {
        "required": [
          "amount",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TypeOfAmount5Code"
          },
          "additionalType": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "amount": {
            "$ref": "#/components/schemas/ImpliedCurrencyAndAmount"
          },
          "label": {
            "$ref": "#/components/schemas/Max140Text"
          }
        }
      },
      "DisplayCapabilities3": {
        "required": [
          "availableFormat",
          "destination"
        ],
        "type": "object",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/UserInterface1Code"
          },
          "availableFormat": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputFormat1Code"
            }
          },
          "numberOfLines": {
            "$ref": "#/components/schemas/Number"
          },
          "lineWidth": {
            "$ref": "#/components/schemas/Number"
          },
          "availableLanguage": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageCode"
            }
          }
        }
      },
      "EncapsulatedContent3": {
        "required": [
          "contentType"
        ],
        "type": "object",
        "properties": {
          "contentType": {
            "$ref": "#/components/schemas/ContentType2Code"
          },
          "content": {
            "$ref": "#/components/schemas/Max100KBinary"
          }
        }
      },
      "EncryptedContent3": {
        "required": [
          "contentEncryptionAlgorithm",
          "contentType",
          "encryptedData"
        ],
        "type": "object",
        "properties": {
          "contentType": {
            "$ref": "#/components/schemas/ContentType2Code"
          },
          "contentEncryptionAlgorithm": {
            "$ref": "#/components/schemas/AlgorithmIdentification14"
          },
          "encryptedData": {
            "$ref": "#/components/schemas/Max100KBinary"
          }
        }
      },
      "EnvelopedData4": {
        "required": [
          "recipient"
        ],
        "type": "object",
        "properties": {
          "version": {
            "$ref": "#/components/schemas/Number"
          },
          "recipient": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient4Choice"
            }
          },
          "encryptedContent": {
            "$ref": "#/components/schemas/EncryptedContent3"
          }
        }
      },
      "GenericIdentification1": {
        "required": [
          "identification"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "schemeName": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "issuer": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "GenericIdentification32": {
        "required": [
          "identification"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "type": {
            "$ref": "#/components/schemas/PartyType3Code"
          },
          "issuer": {
            "$ref": "#/components/schemas/PartyType4Code"
          },
          "shortName": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "GenericIdentification4": {
        "required": [
          "identification",
          "identificationType"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "identificationType": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "GenericIdentification73": {
        "required": [
          "identification"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "type": {
            "$ref": "#/components/schemas/PartyType9Code"
          },
          "issuer": {
            "$ref": "#/components/schemas/PartyType9Code"
          },
          "country": {
            "$ref": "#/components/schemas/Min2Max3AlphaText"
          },
          "shortName": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "GenericIdentification74": {
        "required": [
          "identification",
          "type"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "type": {
            "$ref": "#/components/schemas/PartyType10Code"
          },
          "issuer": {
            "$ref": "#/components/schemas/PartyType10Code"
          },
          "country": {
            "$ref": "#/components/schemas/Min2Max3AlphaText"
          },
          "shortName": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "GenericIdentification75": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "type": {
            "$ref": "#/components/schemas/PartyType11Code"
          },
          "issuer": {
            "$ref": "#/components/schemas/PartyType9Code"
          },
          "country": {
            "$ref": "#/components/schemas/Min2Max3AlphaText"
          },
          "shortName": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "Header17": {
        "required": [
          "creationDateTime",
          "exchangeIdentification",
          "initiatingParty",
          "messageFunction",
          "protocolVersion"
        ],
        "type": "object",
        "properties": {
          "messageFunction": {
            "$ref": "#/components/schemas/MessageFunction6Code"
          },
          "protocolVersion": {
            "$ref": "#/components/schemas/Max6Text"
          },
          "exchangeIdentification": {
            "$ref": "#/components/schemas/Max3NumericText"
          },
          "reTransmissionCounter": {
            "$ref": "#/components/schemas/Max3NumericText"
          },
          "creationDateTime": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "initiatingParty": {
            "$ref": "#/components/schemas/GenericIdentification73"
          },
          "recipientParty": {
            "$ref": "#/components/schemas/GenericIdentification73"
          },
          "traceability": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Traceability3"
            }
          }
        }
      },
      "IssuerAndSerialNumber1": {
        "required": [
          "issuer",
          "serialNumber"
        ],
        "type": "object",
        "properties": {
          "issuer": {
            "$ref": "#/components/schemas/CertificateIssuer1"
          },
          "serialNumber": {
            "$ref": "#/components/schemas/Max35Binary"
          }
        }
      },
      "KEK4": {
        "required": [
          "KEKIdentification",
          "encryptedKey",
          "keyEncryptionAlgorithm"
        ],
        "type": "object",
        "properties": {
          "version": {
            "$ref": "#/components/schemas/Number"
          },
          "KEKIdentification": {
            "$ref": "#/components/schemas/KEKIdentifier2"
          },
          "keyEncryptionAlgorithm": {
            "$ref": "#/components/schemas/AlgorithmIdentification13"
          },
          "encryptedKey": {
            "$ref": "#/components/schemas/Max500Binary"
          }
        }
      },
      "KEKIdentifier2": {
        "required": [
          "keyIdentification",
          "keyVersion"
        ],
        "type": "object",
        "properties": {
          "keyIdentification": {
            "$ref": "#/components/schemas/Max140Text"
          },
          "keyVersion": {
            "$ref": "#/components/schemas/Max140Text"
          },
          "sequenceNumber": {
            "$ref": "#/components/schemas/Number"
          },
          "derivationIdentification": {
            "$ref": "#/components/schemas/Min5Max16Binary"
          }
        }
      },
      "Recipient5Choice": {
        "oneOf": [
          {
            "properties": {
              "issuerAndSerialNumber": {
                "$ref": "#/components/schemas/IssuerAndSerialNumber1"
              },
              "keyIdentifier": {
                "$ref": "#/components/schemas/KEKIdentifier2"
              }
            }
          }
        ]
      },
      "KeyTransport4": {
        "required": [
          "encryptedKey",
          "keyEncryptionAlgorithm",
          "recipientIdentification"
        ],
        "type": "object",
        "properties": {
          "version": {
            "$ref": "#/components/schemas/Number"
          },
          "recipientIdentification": {
            "$ref": "#/components/schemas/Recipient5Choice"
          },
          "keyEncryptionAlgorithm": {
            "$ref": "#/components/schemas/AlgorithmIdentification11"
          },
          "encryptedKey": {
            "$ref": "#/components/schemas/Max5000Binary"
          }
        }
      },
      "NameAndAddress3": {
        "required": [
          "address",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "address": {
            "$ref": "#/components/schemas/PostalAddress1"
          }
        }
      },
      "OnLinePIN4": {
        "required": [
          "PINFormat",
          "encryptedPINBlock"
        ],
        "type": "object",
        "properties": {
          "encryptedPINBlock": {
            "$ref": "#/components/schemas/ContentInformationType10"
          },
          "PINFormat": {
            "$ref": "#/components/schemas/PINFormat3Code"
          },
          "additionalInput": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "Organisation18": {
        "required": [
          "commonName",
          "identification",
          "location"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/GenericIdentification32"
          },
          "commonName": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "location": {
            "$ref": "#/components/schemas/CommunicationAddress5"
          },
          "selectedLanguage": {
            "$ref": "#/components/schemas/LanguageCode"
          },
          "schemeData": {
            "$ref": "#/components/schemas/Max140Text"
          }
        }
      },
      "Parameter4": {
        "type": "object",
        "properties": {
          "encryptionFormat": {
            "$ref": "#/components/schemas/EncryptionFormat1Code"
          },
          "digestAlgorithm": {
            "$ref": "#/components/schemas/Algorithm11Code"
          },
          "maskGeneratorAlgorithm": {
            "$ref": "#/components/schemas/AlgorithmIdentification12"
          }
        }
      },
      "Parameter5": {
        "type": "object",
        "properties": {
          "digestAlgorithm": {
            "$ref": "#/components/schemas/Algorithm11Code"
          }
        }
      },
      "Parameter6": {
        "type": "object",
        "properties": {
          "encryptionFormat": {
            "$ref": "#/components/schemas/EncryptionFormat1Code"
          },
          "initialisationVector": {
            "$ref": "#/components/schemas/Max500Binary"
          },
          "bytePadding": {
            "$ref": "#/components/schemas/BytePadding1Code"
          }
        }
      },
      "Parameter7": {
        "type": "object",
        "properties": {
          "initialisationVector": {
            "$ref": "#/components/schemas/Max500Binary"
          },
          "bytePadding": {
            "$ref": "#/components/schemas/BytePadding1Code"
          }
        }
      },
      "PaymentCard12": {
        "type": "object",
        "properties": {
          "protectedCardData": {
            "$ref": "#/components/schemas/ContentInformationType10"
          },
          "plainCardData": {
            "$ref": "#/components/schemas/PlainCardData10"
          },
          "issuerBIN": {
            "$ref": "#/components/schemas/Max15NumericText"
          },
          "cardCountryCode": {
            "$ref": "#/components/schemas/Max3Text"
          },
          "cardCurrencyCode": {
            "$ref": "#/components/schemas/Exact3AlphaNumericText"
          },
          "additionalCardData": {
            "$ref": "#/components/schemas/Max70Text"
          }
        }
      },
      "PaymentTokenIdentifiers1": {
        "required": [
          "providerIdentification",
          "requestorIdentification"
        ],
        "type": "object",
        "properties": {
          "providerIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "requestorIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "PersonIdentification7": {
        "type": "object",
        "properties": {
          "driversLicenseNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "customerNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "socialSecurityNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "alienRegistrationNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "passportNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "taxIdentificationNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "identityCardNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "employerIdentificationNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "employeeIdentificationNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "emailAddress": {
            "$ref": "#/components/schemas/Max256Text"
          },
          "dateAndPlaceOfBirth": {
            "$ref": "#/components/schemas/DateAndPlaceOfBirth"
          },
          "other": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericIdentification4"
            }
          }
        }
      },
      "PlainCardData10": {
        "required": [
          "PAN"
        ],
        "type": "object",
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/Min8Max28NumericText"
          },
          "cardSequenceNumber": {
            "$ref": "#/components/schemas/Min2Max3NumericText"
          },
          "effectiveDate": {
            "$ref": "#/components/schemas/Max10Text"
          },
          "expiryDate": {
            "$ref": "#/components/schemas/Max10Text"
          },
          "serviceCode": {
            "$ref": "#/components/schemas/Exact3NumericText"
          },
          "trackData": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackData1"
            }
          },
          "cardholderName": {
            "$ref": "#/components/schemas/Max45Text"
          }
        }
      },
      "PointOfInteractionCapabilities4": {
        "required": [
          "cardReadingCapabilities"
        ],
        "type": "object",
        "properties": {
          "cardReadingCapabilities": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardDataReading2Code"
            }
          },
          "cardWrittingCapabilities": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardDataReading3Code"
            }
          },
          "cardholderVerificationCapabilities": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardholderVerificationCapability2Code"
            }
          },
          "PINLengthCapabilities": {
            "$ref": "#/components/schemas/Number"
          },
          "approvalCodeLength": {
            "$ref": "#/components/schemas/Number"
          },
          "maxScriptLength": {
            "$ref": "#/components/schemas/Number"
          },
          "cardCaptureCapable": {
            "$ref": "#/components/schemas/TrueFalseIndicator"
          },
          "onLineCapabilities": {
            "$ref": "#/components/schemas/OnLineCapability1Code"
          },
          "messageCapabilities": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DisplayCapabilities3"
            }
          }
        }
      },
      "PostalAddress1": {
        "required": [
          "country"
        ],
        "type": "object",
        "properties": {
          "addressType": {
            "$ref": "#/components/schemas/AddressType2Code"
          },
          "addressLine": {
            "maxItems": 5,
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Max70Text"
            }
          },
          "streetName": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "buildingNumber": {
            "$ref": "#/components/schemas/Max16Text"
          },
          "postCode": {
            "$ref": "#/components/schemas/Max16Text"
          },
          "townName": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "countrySubDivision": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "country": {
            "$ref": "#/components/schemas/CountryCode"
          }
        }
      },
      "PostalAddress18": {
        "required": [
          "country",
          "townName"
        ],
        "type": "object",
        "properties": {
          "addressLine": {
            "maxItems": 2,
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Max70Text"
            }
          },
          "streetName": {
            "$ref": "#/components/schemas/Max70Text"
          },
          "buildingNumber": {
            "$ref": "#/components/schemas/Max16Text"
          },
          "postCode": {
            "$ref": "#/components/schemas/Max16Text"
          },
          "townName": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "countrySubDivision": {
            "maxItems": 2,
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Max35Text"
            }
          },
          "country": {
            "$ref": "#/components/schemas/CountryCode"
          }
        }
      },
      "RecurringTransaction2": {
        "type": "object",
        "properties": {
          "instalmentPlan": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstalmentPlan1Code"
            }
          },
          "planIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "sequenceNumber": {
            "$ref": "#/components/schemas/Number"
          },
          "periodUnit": {
            "$ref": "#/components/schemas/Frequency3Code"
          },
          "instalmentPeriod": {
            "$ref": "#/components/schemas/Number"
          },
          "totalNumberOfPayments": {
            "$ref": "#/components/schemas/Number"
          },
          "firstPaymentDate": {
            "$ref": "#/components/schemas/ISODate"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/CurrencyAndAmount"
          },
          "firstAmount": {
            "$ref": "#/components/schemas/ImpliedCurrencyAndAmount"
          },
          "charges": {
            "$ref": "#/components/schemas/ImpliedCurrencyAndAmount"
          }
        }
      },
      "RelativeDistinguishedName1": {
        "required": [
          "attributeType",
          "attributeValue"
        ],
        "type": "object",
        "properties": {
          "attributeType": {
            "$ref": "#/components/schemas/AttributeType1Code"
          },
          "attributeValue": {
            "$ref": "#/components/schemas/Max140Text"
          }
        }
      },
      "ResponseType2": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Response3Code"
          },
          "resultDetails": {
            "$ref": "#/components/schemas/ResultDetail1Code"
          },
          "additionalResultInformation": {
            "$ref": "#/components/schemas/Max140Text"
          }
        }
      },
      "SaleContext1": {
        "type": "object",
        "properties": {
          "saleIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "saleReferenceNumber": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "saleReconciliationIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "cashierIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "shiftNumber": {
            "$ref": "#/components/schemas/Max2NumericText"
          },
          "additionalSaleData": {
            "$ref": "#/components/schemas/Max70Text"
          }
        }
      },
      "Traceability3": {
        "required": [
          "relayIdentification",
          "traceDateTimeIn",
          "traceDateTimeOut"
        ],
        "type": "object",
        "properties": {
          "relayIdentification": {
            "$ref": "#/components/schemas/GenericIdentification74"
          },
          "traceDateTimeIn": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "traceDateTimeOut": {
            "$ref": "#/components/schemas/ISODateTime"
          }
        }
      },
      "TrackData1": {
        "required": [
          "trackValue"
        ],
        "type": "object",
        "properties": {
          "trackNumber": {
            "$ref": "#/components/schemas/Exact1NumericText"
          },
          "trackValue": {
            "$ref": "#/components/schemas/Max140Text"
          }
        }
      },
      "TransactionIdentifier2": {
        "required": [
          "reconciliationDate"
        ],
        "type": "object",
        "properties": {
          "reconciliationDate": {
            "$ref": "#/components/schemas/ISODate"
          },
          "reconciliationIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          }
        }
      },
      "TransactionVerificationResult4": {
        "required": [
          "method"
        ],
        "type": "object",
        "properties": {
          "method": {
            "$ref": "#/components/schemas/AuthenticationMethod6Code"
          },
          "verificationEntity": {
            "$ref": "#/components/schemas/AuthenticationEntity2Code"
          },
          "result": {
            "$ref": "#/components/schemas/Verification1Code"
          },
          "additionalResult": {
            "$ref": "#/components/schemas/Max500Text"
          }
        }
      },
      "CurrencyAndAmount": {
        "required": [
          "Ccy",
          "value"
        ],
        "type": "object",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "value": {
            "$ref": "#/components/schemas/CurrencyAndAmount_SimpleType"
          }
        }
      },
      "AcquirerFinancialInitiation": {
        "required": [
          "financialInitiation",
          "header",
          "securityTrailer"
        ],
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header17"
          },
          "financialInitiation": {
            "$ref": "#/components/schemas/AcquirerFinancialInitiation1"
          },
          "securityTrailer": {
            "$ref": "#/components/schemas/ContentInformationType15"
          }
        }
      },
      "AcquirerFinancialInitiation1": {
        "required": [
          "context",
          "environment",
          "transaction"
        ],
        "type": "object",
        "properties": {
          "environment": {
            "$ref": "#/components/schemas/CardTransactionEnvironment1"
          },
          "context": {
            "$ref": "#/components/schemas/CardTransactionContext1"
          },
          "transaction": {
            "$ref": "#/components/schemas/CardTransaction5"
          }
        }
      },
      "CardTransaction5": {
        "required": [
          "acceptorTransactionDateTime",
          "acceptorTransactionIdentification",
          "initiatorTransactionIdentification",
          "transactionDetails",
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "transactionType": {
            "$ref": "#/components/schemas/CardPaymentServiceType7Code"
          },
          "additionalService": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardPaymentServiceType8Code"
            }
          },
          "serviceAttribute": {
            "$ref": "#/components/schemas/CardPaymentServiceType3Code"
          },
          "merchantCategoryCode": {
            "$ref": "#/components/schemas/Min3Max4NumericText"
          },
          "reconciliation": {
            "$ref": "#/components/schemas/TransactionIdentifier2"
          },
          "acceptorTransactionDateTime": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "acceptorTransactionIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "initiatorTransactionIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "transactionLifeCycleIdentification": {
            "$ref": "#/components/schemas/Max35Text"
          },
          "transactionLifeCycleSequenceNumber": {
            "$ref": "#/components/schemas/Number"
          },
          "transactionLifeCycleSequenceCounter": {
            "$ref": "#/components/schemas/Number"
          },
          "acquirerTransactionReference": {
            "$ref": "#/components/schemas/Max35NumericText"
          },
          "cardIssuerReferenceData": {
            "$ref": "#/components/schemas/Max140Text"
          },
          "originalTransaction": {
            "$ref": "#/components/schemas/CardTransaction3"
          },
          "transactionDetails": {
            "$ref": "#/components/schemas/CardTransactionDetail3"
          },
          "authorisationResult": {
            "$ref": "#/components/schemas/AuthorisationResult7"
          }
        }
      },
      "CardTransactionDetail3": {
        "required": [
          "transactionAmounts"
        ],
        "type": "object",
        "properties": {
          "transactionAmounts": {
            "$ref": "#/components/schemas/CardTransactionAmount3"
          },
          "transactionFees": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailedAmount11"
            }
          },
          "additionalAmounts": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailedAmount10"
            }
          },
          "messageReason": {
            "$ref": "#/components/schemas/MessageReason1Code"
          },
          "validityDate": {
            "$ref": "#/components/schemas/ISODate"
          },
          "unattendedLevelCategory": {
            "$ref": "#/components/schemas/Max35NumericText"
          },
          "accountFrom": {
            "$ref": "#/components/schemas/CardAccount1"
          },
          "accountTo": {
            "$ref": "#/components/schemas/CardAccount1"
          },
          "instalment": {
            "$ref": "#/components/schemas/RecurringTransaction2"
          },
          "antiMoneyLaundering": {
            "$ref": "#/components/schemas/AntiMoneyLaundering1"
          },
          "ICCRelatedData": {
            "$ref": "#/components/schemas/Max10000Binary"
          }
        }
      },
      "CardTransactionAmount3": {
        "required": [
          "totalAmount"
        ],
        "type": "object",
        "properties": {
          "totalAmount": {
            "$ref": "#/components/schemas/CurrencyAndAmount"
          },
          "amountQualifier": {
            "$ref": "#/components/schemas/TypeOfAmount1Code"
          },
          "cardholderBillingTransactionAmount": {
            "$ref": "#/components/schemas/DetailedAmount8"
          },
          "reconciliationTransactionAmount": {
            "$ref": "#/components/schemas/DetailedAmount8"
          },
          "detailedAmount": {
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailedAmount9"
            }
          }
        }
      },
      "IsoCreditTransferFraudCheckRequestV01": {
        "required": [
          "applicationHeader",
          "creditTransferFraudCheckRequest"
        ],
        "type": "object",
        "properties": {
          "applicationHeader": {
            "$ref": "#/components/schemas/BusinessApplicationHeader"
          },
          "creditTransferFraudCheckRequest": {
            "$ref": "#/components/schemas/FraudCheckRequestV1"
          }
        }
      },
      "FraudCheckRequestV1": {
        "required": [
          "creditTransferTransactionInformation",
          "groupHeader"
        ],
        "type": "object",
        "properties": {
          "groupHeader": {
            "$ref": "#/components/schemas/GroupHeader93"
          },
          "creditTransferTransactionInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditTransferTransaction39"
            }
          },
          "supplementaryData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementaryData1"
            }
          }
        }
      },
      "FraudCheckResponseV1": {
        "required": [
          "groupHeader"
        ],
        "type": "object",
        "properties": {
          "groupHeader": {
            "$ref": "#/components/schemas/GroupHeader91"
          },
          "supplementaryData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementaryData1"
            }
          },
          "transactionInformationAndStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentTransaction110"
            }
          }
        }
      },
      "BusinessApplicationHeader": {
        "title": "BusinessApplicationHeader",
        "required": [
          "businessMessageIdentifier",
          "creationDate",
          "from",
          "messageDefinitionIdentifier",
          "to"
        ],
        "type": "object",
        "properties": {
          "businessMessageIdentifier": {
            "type": "string"
          },
          "messageDefinitionIdentifier": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "$ref": "#/components/schemas/Party44Choice"
          },
          "to": {
            "$ref": "#/components/schemas/Party44Choice"
          }
        }
      },
      "Party44Choice": {
        "type": "object",
        "properties": {
          "organisationIdentification": {
            "$ref": "#/components/schemas/PartyIdentification135"
          }
        }
      },
      "GroupHeader91": {
        "required": [
          "creationDateAndTime",
          "messageId"
        ],
        "type": "object",
        "properties": {
          "creationDateAndTime": {
            "type": "string",
            "format": "date-time"
          },
          "messageId": {
            "type": "string"
          }
        }
      },
      "FIToFIPaymentStatusReportV11": {
        "required": [
          "applicationHeader",
          "fraudCheckResponse"
        ],
        "type": "object",
        "properties": {
          "applicationHeader": {
            "$ref": "#/components/schemas/BusinessApplicationHeader"
          },
          "fraudCheckResponse": {
            "$ref": "#/components/schemas/FraudCheckResponseV1"
          }
        }
      },
      "OriginalGroupHeader17": {
        "required": [
          "originalMessageId"
        ],
        "type": "object",
        "properties": {
          "groupStatus": {
            "type": "string"
          },
          "originalControlSum": {
            "type": "number"
          },
          "originalCreationDateAndTime": {
            "type": "string",
            "format": "date-time"
          },
          "originalMessageId": {
            "type": "string"
          },
          "originalNumberOfTransactions": {
            "$ref": "#/components/schemas/Max15NumericText"
          },
          "statusReasonInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusReasonInformation12"
            }
          }
        }
      },
      "PaymentTransaction110": {
        "type": "object",
        "properties": {
          "acceptanceDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "statusId": {
            "type": "string"
          },
          "statusReasonInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusReasonInformation12"
            }
          },
          "supplementaryData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementaryData1"
            }
          },
          "transactionStatus": {
            "type": "string",
            "enum": [
              "APPV",
              "DCLN",
              "RFRL",
              "BLCK"
            ]
          }
        }
      },
      "StatusReason6Choice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "proprietary": {
            "type": "string"
          }
        }
      },
      "StatusReasonInformation12": {
        "type": "object",
        "properties": {
          "additionalInformation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "originator": {
            "$ref": "#/components/schemas/PartyIdentification135"
          },
          "reason": {
            "$ref": "#/components/schemas/StatusReason6Choice"
          }
        }
      },
      "AccountIdentification4Choice": {
        "type": "object",
        "properties": {
          "internationalBankAccountNumber": {
            "type": "string"
          },
          "other": {
            "$ref": "#/components/schemas/GenericAccountIdentification1"
          }
        }
      },
      "AccountSchemeName1Choice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "proprietary": {
            "type": "string"
          }
        }
      },
      "ActiveCurrencyAndAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "ActiveOrHistoricCurrencyAndAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "AddressType3Choice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "ADDR",
              "PBOX",
              "HOME",
              "BIZZ",
              "MLTO",
              "DLVY"
            ]
          },
          "proprietary": {
            "$ref": "#/components/schemas/GenericIdentification30"
          }
        }
      },
      "BranchAndFinancialInstitutionIdentification6": {
        "required": [
          "financialInstitutionIdentification"
        ],
        "type": "object",
        "properties": {
          "financialInstitutionIdentification": {
            "$ref": "#/components/schemas/FinancialInstitutionIdentification18"
          },
          "branchIdentification": {
            "$ref": "#/components/schemas/BranchData3"
          }
        }
      },
      "BranchData3": {
        "type": "object",
        "properties": {
          "identification": {
            "type": "string"
          },
          "LEI": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "postalAddress": {
            "$ref": "#/components/schemas/PostalAddress24"
          }
        }
      },
      "CashAccount38": {
        "required": [
          "identification"
        ],
        "type": "object",
        "properties": {
          "identification": {
            "$ref": "#/components/schemas/AccountIdentification4Choice"
          },
          "name": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "proxy": {
            "$ref": "#/components/schemas/ProxyAccountIdentification1"
          },
          "type": {
            "$ref": "#/components/schemas/CashAccountType2Choice"
          }
        }
      },
      "CashAccountType2Choice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "proprietary": {
            "type": "string"
          }
        }
      },
      "CategoryPurpose1Choice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "proprietary": {
            "type": "string"
          }
        }
      },
      "Charges7": {
        "required": [
          "agent",
          "amount"
        ],
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification6"
          },
          "amount": {
            "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
          }
        }
      },
      "ClearingSystemIdentification2Choice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "proprietary": {
            "type": "string"
          }
        }
      },
      "ClearingSystemMemberIdentification2": {
        "required": [
          "memberIdentification"
        ],
        "type": "object",
        "properties": {
          "memberIdentification": {
            "type": "string"
          },
          "clearingSystemIdentification": {
            "$ref": "#/components/schemas/ClearingSystemIdentification2Choice"
          }
        }
      },
      "Contact4": {
        "type": "object",
        "properties": {
          "department": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "emailPurpose": {
            "type": "string"
          },
          "faxNumber": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "namePrefix": {
            "type": "string",
            "enum": [
              "CHQB",
              "HOLD",
              "PHOB",
              "TELB"
            ]
          },
          "other": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherContact1"
            }
          },
          "phoneNumber": {
            "type": "string"
          },
          "preferredMethod": {
            "type": "string",
            "enum": [
              "LETT",
              "MAIL",
              "PHON",
              "FAXX",
              "CELL"
            ]
          },
          "responsibility": {
            "type": "string"
          }
        }
      },
      "CreditTransferTransaction39": {
        "required": [
          "chargeBearer",
          "creditor",
          "creditorAgent",
          "debtor",
          "debtorAgent",
          "paymentIdentification",
          "settlementAmount",
          "settlementTimeIndication",
          "settlementTimeRequest"
        ],
        "type": "object",
        "properties": {
          "acceptanceDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "chargeBearer": {
            "type": "string",
            "enum": [
              "DEBT",
              "CRED",
              "SHAR",
              "SLEV"
            ]
          },
          "chargesInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charges7"
            }
          },
          "creditor": {
            "$ref": "#/components/schemas/PartyIdentification135"
          },
          "creditorAccount": {
            "$ref": "#/components/schemas/CashAccount38"
          },
          "creditorAgent": {
            "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification6"
          },
          "creditorAgentAccount": {
            "$ref": "#/components/schemas/CashAccount38"
          },
          "debtor": {
            "$ref": "#/components/schemas/PartyIdentification135"
          },
          "debtorAccount": {
            "$ref": "#/components/schemas/CashAccount38"
          },
          "debtorAgent": {
            "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification6"
          },
          "debtorAgentAccount": {
            "$ref": "#/components/schemas/CashAccount38"
          },
          "exchangeRate": {
[...]
